

#all_todos{
    width:300px;
    margin:auto;
}

#single_todo{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px 0;
}

#single_todo a{
    color: black;
}


#add_todo_button_section {
    display: flex;
    justify-content: center;
}



.delete_button {
    background: none;
    padding: 0px;
    border: none;
    background-color:red;
}